//colors 

$white: white;
$flint: #212121;
$black: black;
$primary: #FDFD67;
$secondary: #FF9900;
$tertiary: #FFCC00;
$orange: #ff8e04;
$green: #92a609;
$magenta: #bb0154;
$cyan: #0197b8;
$red: #ff1717;
$brick-red: #be0c03;
$dark-red: #990100;
$darker-red: #560501;
$yellow: #FFFF00;
$yellowgreen: #AEEB6D;


// device width

$desktop-width: 960px;
$tablet-width: 768px;

// font

$arial: Arial, sans;
$tahoma: 'Tahoma', Arial, sans;